<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>

</head>
<body>
  <div class="mb-3">
    <label for="formFile" class="form-label">Ανεβαστε το JSON αρχειο</label>
    <!-- type file gia na dexete arxeia -->
    <input class="form-control" type="file" accept=".json" id="formFile">
</div>
<button onclick="uploaddatatoserver()">Upload Data</button>

    <!--<form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" accept=".json" id="exampleFormControlFile1">
        </div>
      </form>
      <button onclick="uploaddatatoserver()">Upload Data</button>-->

    <div class="store list">
        <div class="header"><h2> Add New Store</h2></div>
        <div class="add new store">
            <form class="store-form">
                <input type="text" id="store-name" placehorlder="Store Name">
                <input type="textarea" id="address" placehorlder="Address">
                <input type="text" id="latitude" placehorlder="Latitude">
                <input type="text" id="longitude" placehorlder="Longitude">
                <button type="click" id="submit_btn">Create Store</button> 
            </form>
        </div>    
    </div>
    <div style="height: 500px;" id="my_map"></div>
</body>

<script src="/public/Javascript/adminaddst.js"></script>

</html>