<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

    <title>User History</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }
        
        td,
        th {
            border: 1px solid #959597fd;
            text-align: left;
            padding: 4px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>

<body></body>


<body>
    <img src="C:\Users\user\Desktop\projWEB\slogo_transparent.png" style="height: 80px; width: 130px;">
    <br><br><br>

    <div style="text-align: center;">
        <h2><span class="material-icons">
        assignment
        </span> History
        </h2>
        <br><br><br>
    </div>
    <div style="display: flex; justify-content: center; flex-direction: center; height: 100vh;">
        <table>
            <tr>
                <th>Date</th>
                <th>Location</th>
                <!-- <th>Country</th> -->
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>
</body>

<!-- <script>
    async function sendData() {
        let inputValue = document.getElementById('my_input').value;

        let resp = await axios.get('/sentdata')
        console.log(resp.data);
        let info = {
            writtenData: inputValue
        }

        console.log(info.writtenData);
        await axios.post('/sentData', info)
        console.log(inputValue);
    }
</script> -->

</html>
